html, body {
    height: 100%;
    margin: 0;

}

.wideboi {

}

.wrapper {
    background-color: rgb(37, 37, 37);
    background: none;

    background-position-x: center;
    min-height: 100%;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 1fr auto;
    grid-gap: 3em;
    margin-top: -2%;
    margin-bottom: -50px;
}

.midline{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

#icon {
    border-radius: 50%;
    width: 50%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#patreon {
    size: 3em;
    position: relative;
    left: -54%;
    margin: -20%;
    color: #eaeaea;
    text-shadow: none;
}
header, footer {
    grid-column: 1 / 4;

}
  

@media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
    }
    .wrapper{
        grid-template-columns: auto;
        background: none;
        

    }
    .ghostbox{
        background-image: url(https://66.media.tumblr.com/d6f86df14e54a74eb5a23df76d335de7/tumblr_inline_q0bmm6vKCO1vn6qpn_500.jpg);
    }
}
  
/* Demo Specific Styles */
body {

    margin: 0 auto;
    max-width: 56em;
    min-height: 100%;
    padding: 0 0;
    color: #444;
    font-family: Roboto, sans-serif;
    background: url("./Images/background.jpg");
    background-position-x: center;
    background-size: auto 80%;
    /*background-image: url('https://raw.githubusercontent.com/acdehart/portfolio/Images/background.jpg');
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
    */
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h3, h4, h5, h6, header, hgroup, html, i, iframe, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    /*margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;*/
    text-decoration: none;

}

h1 {
    text-align: center;
    color: rgb(206, 41, 41);
    text-shadow: 0 0 8px #ffffff;
}

h2 {
    font-weight: bold;
}

h2,h3,h4,h5,h6,h7,h8{
    text-align: center;
    color: #eaeaea;
}



header,
aside,
article {
    
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;/*35vh*/
    
}

article {
    text-shadow: 1px 1px 3px rgb(17, 0, 0)
}



.footer,
.push {
  height: 7em;
}

.ghostbox{
    background-image: url(https://66.media.tumblr.com/d6f86df14e54a74eb5a23df76d335de7/tumblr_inline_q0bmm6vKCO1vn6qpn_500.jpg);
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-size: 175% auto;
    background-position: center;
    text-align: center;
    padding: 3em;
    box-shadow: .1em .1em 1px rgb(231, 44, 44);

    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




footer {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
}



/*{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
/**/
* {
    box-sizing: border-box;
  }
/*** SOCIALS ***/
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    color: #eaeaea;
    
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 13px 0; /*was 12px 0
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .active {
    /*background-color: #4CAF50;*/
  }


  /* Take2.css */
/***    TAGS    ***
html {
    width: 100vw;

}

body {
    margin-left: calc(100vw - 100%);
    color: #444;
    font-family: Roboto, sans-serif;
    background-image: url("https://66.media.tumblr.com/4cfd50a9eb8a0dd08007e3646f86d4a8/tumblr_inline_py35c6jG5G1vn6qpn_500.jpg");
    /*background-image: url('https://raw.githubusercontent.com/acdehart/portfolio/Images/background.jpg');
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
    *
}

figcaption{
    font-size: 70px;
}


img {
    max-width: 100%;
    min-width: 49.1%;/* 32.2% or 49.1% *
    height: auto;
}

a {
    color: rgb(78, 78, 78);
    width: 40px;
}

.footnote {
    box-shadow: .1em .1em 0px rgb(139, 25, 4);
    background-color: rgb(133, 212, 144);
    font-size: 2em;
    align-self: center;
    justify-self: center;
    margin-bottom: 16px;
    white-space: normal;
    padding: 10px 20px;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 100px;
    border: 2px solid #fff;
    background-color: #fff;

}

#icon {
    min-width: auto;
    max-width: auto;
    width: 3em;
    margin-top: 0.1em;
    height: auto;
    float: center;

}

ol, ul {
    list-style: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h3, h4, h5, h6, header, hgroup, html, i, iframe, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;
    vertical-align: baseline;*
    text-decoration: none;
}

article {
    text-align: justify;
}

em{
    color: rgb(139, 25, 4);
}

h2 {
    display: block;
    margin-block-start: 0.41em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-transform: uppercase;
    color: #444;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    line-height: 1em;
    font-family: omnes-pro,Omnes,Avenir,sans-serif;
    font-size: 2.2em;

    
}

h1{
    display: block;
    margin-block-start: 0.41em;
    margin-block-end: 0.51em; /*.83em*
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2%;
    text-shadow: -1px 1px 10px #444;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/***    CLASSES     ***
.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.content2 {
    grid-area: content2;
}


.header {
    grid-area: header;
    width:100%;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
}

.footer {
    grid-area: footer;
    width:100%;
}

.copyright {
    
    font-size: .1em;
    font-family: Arial,
         "Helvetica Neue",
         Helvetica,
         sans-serif;
}

* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

.wrapper {
    display: grid;
    grid-gap: 5em;
    grid-column: full;
    grid-template-columns: .25fr 11.5fr .25fr;
    grid-template-areas:
    ".          header      ."
    ".          content     ."
    ".          footer      .";
    font-family: Roboto, sans-serif;
    max-width: 100%;
    margin: auto;
    background: transparent;

    width: 100%;

    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: visible;
    position: relative;    
}


.box {
    background-color: transparent;
    color: #444;
    border-radius: 0px;
    padding: 10px;
    font-size: 150%;

}

.content2 img, .content img{
    width: 100%;

}


.sidebar {
    grid-template-columns: repeat(4, 10px [col-start] 250px [col-end]) 10px;
    align-content: cover;
    background-color: transparent;
}

.sidebar2 {
    direction: rtl;
    grid-template-columns: repeat(4, 10px [col-start] 250px [col-end]) 10px;
    align-content: cover;
    background-color: transparent;
}

.rule:after {

    border-bottom: solid 3px;
    bottom: 0;
    content: "";
    display: block;
    color: rgb(139, 25, 4);
    height: 0;
    margin-left: -30px;
    margin-top: 5px;
    width: 135px;
}

/***    Ghost Flair     ***
.ghostbox{
    background-color: #cccccc;
    left: auto;
    right: -40px;
    top: -40px;
    bottom: auto;
    padding: 1em 1em;
    content: '';
    display: block;
    text-align: left;
    
}


.ghostbox2{
    background-color: rgb(139, 25, 4);
    bottom: auto;
    content: '';
    display: block;
    width: 100%;
    z-index: -1;
}


.header, .footer {
}

.footer{
    display: flex;
    justify-content: relative;
    align-items: relative;
    position: relative;
    margin-top: 1em;
    

    font-size: .2em;
    background-size: 106%;
    margin-left: auto;
    text-align: center;
}




@media only screen and (min-width: 650px){
    .ghostbox{
        background-color: transparent;
    }
}



        /***    Wide Screans Only   ***
@media only screen and (min-width: 650px){
    .page-template-page-home__for-business .one-offs--large-image h2:after, .page-template-page-home__for-home .one-offs--large-image h2:after {
        left: 0;
    }
    .rule:after {
        border-bottom: solid 4px;
        margin-top: 20px;
    }
}



@media only screen and (min-width: 650px)   {/*600*
    h2 {
        font-size: 2.6em;
        text-align: left;
        text-shadow: -1px 1px .25em rgb(255, 255, 255);
    }

    article {    
        text-shadow: -1px 1px .5em rgb(255, 255, 255);
    }

    .wrapper {

        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        font-family: Roboto, sans-serif;



        /*
        grid-gap: 13px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header   header  "
        "content  sidebar"
        "sidebar2 content2" 
        "footer  footer";
        margin-left: calc(50vw - 385px);
        /*margin-left: calc(100vw - 100%);
        width: 770px;
        max-width: 1070px;*
        
    }
    .sidebar img, .sidebar2 img {
        min-width: 22%;
        height: auto;
        text-decoration: none;
    }

    .sidebar {
        top: 50%;
        transform: translate(0%, +25%);
    }

    .sidebar2 {
        top: 50%;
        transform: translate(0%, +25%);
    }

    
}



/*Template Code*
.page-template-page-home__for-business .one-offs--grid, .page-template-page-home__for-home .one-offs--grid {
    float: right;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
}
*/