/* Take2.css */
/***    TAGS    ***/
html {
    width: 100vw;

}

body {
    margin-left: calc(100vw - 100%);
    color: #444;
    font-family: Roboto, sans-serif;
    background-image: url("https://66.media.tumblr.com/4cfd50a9eb8a0dd08007e3646f86d4a8/tumblr_inline_py35c6jG5G1vn6qpn_500.jpg");
    /*background-image: url('https://raw.githubusercontent.com/acdehart/portfolio/Images/background.jpg');
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
    */
}

figcaption{
    font-size: 70px;
}


img {
    max-width: 100%;
    min-width: 49.1%;/* 32.2% or 49.1% */
    height: auto;
}

a {
    color: rgb(133, 212, 144);
    width: 40px;
}

.footnote {
    text-shadow: 1px 1px 5px #444; 
}

#icon {
    min-width: auto;
    max-width: auto;
    width: 1em;
    margin-top: 0.1em;
    height: auto;
    float: right;
    padding-right: 11%;
}

ol, ul {
    list-style: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h3, h4, h5, h6, header, hgroup, html, i, iframe, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;
    vertical-align: baseline;*/
    text-decoration: none;
}

article {
    text-align: justify;
}

em{
    color: rgb(139, 25, 4);
}

h2 {
    display: block;
    margin-block-start: 0.41em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-transform: uppercase;
    color: #444;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    line-height: 1em;
    font-family: omnes-pro,Omnes,Avenir,sans-serif;
    font-size: 2.2em;

    
}

h1{
    display: block;
    margin-block-start: 0.41em;
    margin-block-end: 0.51em; /*.83em*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 3.8em;
    padding-left: 2%;
    text-shadow: -1px 1px 10px #444;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/***    CLASSES     ***/
.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
}

.content2 {
    grid-area: content2;
}


.header {
    grid-area: header;
    width:100%;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
}

.footer {
    grid-area: footer;
    width:100%;
}

/* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

.wrapper {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: .5fr 11fr .5fr;
    grid-template-areas:
    "header     header      header"
    ".          content     ."
    ".          sidebar     ."
    ".          content2    ."
    ".          sidebar2    ."
    "footer     footer      footer";
    font-family: Roboto, sans-serif;
    max-width: 100%;
    margin: auto;
    background: transparent;
    padding-bottom: 0px;
    padding-left:-100%;
    padding-right: 0px;

    width: 100%;

    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    
}


.box {
    background-color: transparent;
    color: #444;
    border-radius: 0px;
    padding: 10px;
    font-size: 150%;

}

.content2 img, .content img{
    width: 100%;
    box-shadow: .5em -.5em 0px rgb(133, 212, 144);
}


.sidebar {
    grid-template-columns: repeat(4, 10px [col-start] 250px [col-end]) 10px;
    align-content: cover;
    background-color: transparent;
}

.sidebar2 {
    direction: rtl;
    grid-template-columns: repeat(4, 10px [col-start] 250px [col-end]) 10px;
    align-content: cover;
    background-color: transparent;
}

.rule:after {

    border-bottom: solid 3px;
    bottom: 0;
    content: "";
    display: block;
    color: rgb(139, 25, 4);
    height: 0;
    margin-left: -30px;
    margin-top: 5px;
    width: 135px;
}

/***    Ghost Flair     ***/
.ghostbox{
    background-color: #cccccc;
    left: auto;
    right: -40px;
    top: -40px;
    bottom: auto;
    padding: 1em 1em;
    content: '';
    display: block;
    text-align: left;
    
}


.ghostbox2{
    background-color: rgb(139, 25, 4);
    bottom: auto;
    content: '';
    display: block;
    width: 100%;
    z-index: -1;
}


.header, .footer {
    /*background-image: url("https://66.media.tumblr.com/80412c4da17e7dc06d82b422f2ced5d3/tumblr_inline_py0f4yMxjz1vn6qpn_500.png");
    */
    background-image: url("https://66.media.tumblr.com/8f353c7d7c1a4039baada5fa869aed95/tumblr_inline_pyf5akj2Xl1vn6qpn_500.jpg");
    background-size: 100%;
    width: cover;
    background-position: bottom;
    color: #eee;
}

.footer{
    background-image: url("https://66.media.tumblr.com/80412c4da17e7dc06d82b422f2ced5d3/tumblr_inline_py0f4yMxjz1vn6qpn_500.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1em;
    

    font-size: 2em;
    background-size: 106%;
    margin-left: auto;
    text-align: center;
}




@media only screen and (min-width: 750px){
    .ghostbox{
        background-color: transparent;
    }
}



        /***    Wide Screans Only   ***/
@media only screen and (min-width: 750px){
    .page-template-page-home__for-business .one-offs--large-image h2:after, .page-template-page-home__for-home .one-offs--large-image h2:after {
        left: 0;
    }
    .rule:after {
        border-bottom: solid 4px;
        margin-top: 20px;
    }
}



@media only screen and (min-width: 750px)   {/*600*/
    h2 {
        font-size: 2.6em;
        text-align: left;
        text-shadow: -1px 1px .25em rgb(255, 255, 255);
    }

    article {    
        text-shadow: -1px 1px .5em rgb(255, 255, 255);
    }

    .wrapper {

        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 5fr 5fr 1fr;
        grid-template-areas:
        "header     header      header      header"
        ".          content     sidebar     ."
        ".          sidebar2    content2    ."
        "footer     footer      footer      footer";
        font-family: Roboto, sans-serif;



        /*
        grid-gap: 13px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header   header  "
        "content  sidebar"
        "sidebar2 content2" 
        "footer  footer";
        margin-left: calc(50vw - 385px);
        /*margin-left: calc(100vw - 100%);
        width: 770px;
        max-width: 1070px;*/
        
    }
    .sidebar img, .sidebar2 img {
        min-width: 22%;
        height: auto;
        text-decoration: none;
    }

    .sidebar {
        top: 50%;
        transform: translate(0%, +25%);
    }

    .sidebar2 {
        top: 50%;
        transform: translate(0%, +25%);
    }

    
}



/*Template Code*/
.page-template-page-home__for-business .one-offs--grid, .page-template-page-home__for-home .one-offs--grid {
    float: right;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
}
